<template>
  <div class="hello">
    <ul class="cards">
      <li v-for="item in data" :key="item.id" class="card">
        <div class="card-img">
          <PuSkeleton width="130px" height="130px" :loading="isLoading">
            <img src="https://picsum.photos/150/150" alt="">
          </PuSkeleton>
        </div>
        <div class="card-info">
          <h2><PuSkeleton width="150px" height="50px">{{ item.name }}</PuSkeleton></h2>
          <p><PuSkeleton>{{ item.phone }}</PuSkeleton></p>
        </div>
      </li>
    </ul>
    測試
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data: () => ({
    data: 10,
    isLoading: false,
  }),
  created() {
    this.getData();
  },
  methods: {
    getData() {
      this.isLoading = true;
      fetch('https://jsonplaceholder.typicode.com/users')
        .then((blob) => blob.json())
        .then((res) => {
          window.setTimeout(() => {
            this.data = res;
            this.isLoading = false;
          }, 3000);
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  .cards
    display: inline-block
  .card
    display: flex
    align-items: center
    margin-bottom: .5rem
    &-img
      margin-right: .5rem
    &-info > *
      margin-bottom: .25rem
</style>
